@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is the sample application demonstrating the usage of the Bundle config extensions nuget package.</p>
<p>You can visit the source code <a href="https://github.com/satheesh-krishnasamy/BundleConfig.Extensions" target="_blank"> here </a></p>
